
/*    
    background: #ba01ae;
    background: linear-gradient(7deg, #ba01ae 0%, #e16da1 80%);
    background: -webkit-linear-gradient(7deg, #ba01ae 0%, #e16da1 80%);
    background: -moz-linear-gradient(7deg, #ba01ae 0%, #e16da1 80%);
     */
    
body{
    background-color: black;
}
.header{
    color: #ffffff;
    line-height: 50px;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    text-align: center;
}
.header::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ba01ae;
    background: linear-gradient(7deg, #ba01ae 0%, #e16da1 80%);
    background: -webkit-linear-gradient(7deg, #ba01ae 0%, #e16da1 80%);
    background: -moz-linear-gradient(7deg, #ba01ae 0%, #e16da1 80%);
    z-index: -1;
    padding: 200px;
    rotate: 5deg;
    transform: translate(-5%,-20%);

}
