h1 {
  color: #c85d00;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  h1 {
    color: transparent;
    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.d {
  background-color: #c85d00;
  border: 2px solid #000000;
}
.container2 {
  margin-bottom: 30px;
  background-color: #85ffbd;
  height: 150px;
  display: flex;
  /* justify-content: start; */
  align-items: center;
}
.d1 {
  align-self: flex-end;
}
/* ================ */
.container {
  display: grid;
  border: 1px solid red;
  gap: 10px;

  /* grid-template-areas: 
  "header header header"
  "menu content sidebar"
  "menu footer footer"; */
  grid-template-columns: repeat(5, 65px);
  grid-template-rows: repeat(5, 50px);
}
.box1 {
  grid-column: 2/3;
  grid-row: 1/6;
}
.box2 {
  grid-column: 1/6;
  grid-row: 2/3;
}
.box3 {
  grid-column: -1/-2;
  grid-row: -6/-5;
}
.box4 {
  grid-column: -1/-3;
  grid-row: -1/-3;
}
.box {
  background-color: #fffb7d;
  /* width: 50px;
  height: 25px; */
  border: 1px solid rgb(17, 255, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center;
  align-items: center; */
  /* padding: 10px; */
}
/* .box1{
  grid-area: header;
}
.box2{
  grid-area: menu;
}
.box3{
  grid-area: content;
}
.box4{
  grid-area: sidebar;
}
.box5{
  grid-area: footer;
} */
/* responsive and adaptive */
/* media query */
.breakpoint {
  background-color: #85ffbd;
}
@media (min-width: 19px) and (max-width: 179.98px) {
  .breakpoint {
    background-color: #f6f20f;
  }
}
@media (min-width: 181px) and (max-width: 900px) {
  .breakpoint {
    background-color: #f27209;
  }
}
@media (min-width: 901px) and (max-width: 1000px) {
  .breakpoint {
    background-color: #00f349;
  }
}
@media (min-width: 1001px) {
  .breakpoint {
    background-color: #c606f6;
  }
}
