/* pc */
@media (min-width: 992px) {
  .mobile_header {
    display: none;
  }
}
/* tablet & mobile vì 2 cái này có nhiều code chung*/
@media (max-width: 991.98px) {
  /*1 ẩn navbar */
  .navbar {
    display: none;
  }
  /* 2chuyển logo sang trái */
  .header-top {
    position: relative;
    .header__logo {
      position: absolute;
      left: 50%;
      translate: -50% -50%;
    }
  }
  /* c3ăn lại vi tri menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: rgb(255, 255, 255);
    width: 24px;
  }
  /* 4.overlay */
  .menu-overlay {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
    inset: 0px;
    /*     inset: 0; để là ko là cách 4 cạnh =0 */
    z-index: 1;
    /* binh thuong se ẩn overlay đi */
    opacity: 0;
    /* thuộc tính này chỉ 
    giúp nó ẩn đi thôi t vẫn kích vào 
    các nuts khác đc nên cần thêm visibility để ẩn hẳn đi*/
    visibility: hidden;
    transition: 0.5s;
  }

  /* 5. menu overlay show khi menu-checkbox đc check */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* 6. code cho menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: rgb(35, 23, 23);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    box-sizing: border-box;
    padding: 60px;
  }

  /* 7 kt neus co check thi hien menu drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* 8 menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  /*  menu-drawer__top  */
  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  /* navbar list--mobile */
  #navbar__list--mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* margin-top: 20px; */
    font-size: 2rem;
    a {
      color: #fff;
    }
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__link:hover {
    background-color: rgb(84, 167, 1);
  }
  /* ===================== phanaf hero */
  /* ta xoay flex-di... thành colum để nó xuống dong */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }
  .hero__content {
    order: 2;
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__media {
    order: 1;
  }
  .hero__row {
    justify-content: center;
  }
  /* ===================  main================== */
  /* khối service row*/
  .service__row {
    flex-direction: column;
  }
  .service__img {
    width: 100%;
    padding-bottom: 50px;
  }
  .service-item {
    width: 90%;
    text-align: start;
  }
  .service__list {
    text-align: center;
  }
  /* works list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .work-item {
    width: 100%;
  }
  /* about row */
  .about {
    padding-bottom: 100px;
  }
  .about-row {
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
  }
  .about__media {
    width: 100%;
  }
  .about__img--big {
    width: 100%;
    border-radius: 20px;
  }
  .about__img--small {
    display: none;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }
  /* team */
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  /* install  */
  .install__img {
    right: 0;
    width: 142px;
    height: 261px;
    object-fit: contain;
  }
  .install__inner {
    justify-content: left;
  }
  .install__desc {
    max-width: 450px;
  }
  /* blog */
  .blog__inner {
    display: flex;
    flex-direction: column;
  }
  .blog__list {
    order: 1;
    margin-bottom: 50px;
  }
  .blog__content {
    order: 2;
    width: 90%;
    text-align: center;
  }
  .blog__heading {
    max-width: 100%;
  }
  .control {
    justify-content: center;
  }
}

/* table riêng những đặc điểm riêng cho table */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* =================footer=============== */
  /* footer code cho tablet vì nó to ta để 3 cột đc còn sang mobile ta sẽ đc 2 cột,
   nên ta sẽ để riêng, ta ẩn 1 cột đi */
  .footer__hidden--tablet {
    display: none;
  }
  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  /* ẨN LOGIN ĐI==========================================  */
  .Box_khac {
    display: none;
  }
}
/* moblile */
@media (max-width: 767.98px) {
  /* hearder */
  .header__action {
    display: none;
  }
  .header__logo {
    top: 22px;
  }
  .menu-drawer {
    inset: 0 20% 0 0;
  }
  /* box_khác */
  .Box_khac {
    margin-top: 30px;
    .separarte {
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      margin: 10px 0;
    }
    li {
      list-style: none;
      margin-top: 10px;
    }
  }
  /* =============Hero===================================== */
  .hero__img-small {
    display: none;
  }
  .hero__img-large {
    width: 100%;
    height: auto;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__row {
    flex-direction: column;
    row-gap: 38px;
  }
  /* ====================   main=================== */
  .service {
    padding: 70px 0;
  }
  .section-heading {
    font-size: 3rem;
  }
  .service__desc {
    width: 93%;
  }
  .work__desc {
    width: 100%;
  }
  .about {
    padding-bottom: 40px;
  }
  .team__list {
    grid-template-columns: 1fr;
  }
  .team-item__thumb {
    margin: 0 auto;
  }
  /* install */
  .install__inner {
    margin: 40px 0;
  }
  .appointment__inner {
    padding: 30px 5px;
  }
  /* ===================footer------------------------ */
  .footer {
    margin-top: 70px;

}
  .footer__top {
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin-bottom: 20px;
  }
  .footer__column{
    border-bottom: 1px solid #406181;
  }
  .footer__hidden--tablet{
    padding: 10px;
  }
  .f4{
    border: none;
  }
  /* tạm aanr phần ko liên quan */
}
